

body {
margin: 0;
background-color: white;
font-family:helvetica;
}

h1{
  color: green;
}

#container {
display:flex;
align-items:center;
justify-content:center;
height: 100vh;
flex-direction: column;


}
#logo {
  height: 80px;
  width: 80px;
}
